.joinPage{
    background-color: brown;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.joinContainer{
    /* border: 2px solid white;
    height: 50%; */
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joinContainer > img{
    width:10vmax;
}

.joinContainer > h1{
    color: white;
    font-size: 3vmax;
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    border-radius: 10px;
    text-align: center;
    padding: 0.5vmax;
    font-family: "Roboto";
    box-sizing: border-box; 
}

#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}

.joinbtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    color: azure;
    font-family: "Roboto";
    outline: none;
    font-size: 1.2vmax;
    background-color: black;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
}

.joinbtn:hover{
    background-color: rgb(26, 24, 24);
}